// ページのレスポンシブ設定
$width: responsive-width(sp);

// ここから
@media (max-width: $width) {
  .evangelion {

    &_timeline_01 {

      svg {
        width: auto-min(370px);
      }
    }

    &_timeline_02 {

      svg {
        width: auto-min(370px);
      }
    }

    &_timeline_03 {

      img {
        height: 60vh;
      }
    }
  }
}

// ここまで