// ページのレスポンシブ設定
$width: responsive-width(sp);

// ここから
@media (max-width: $width) {
  
  .scrollNum {

    &_value {
      font-size: auto-clamp(20px, 48px);
    }

    &_tag {
      font-size: auto-clamp(12px, 24px);
    }
  }
}

// ここまで