// ページのレスポンシブ設定
$width: responsive-width(sp);

// ここから
@media (max-width: $width) {
  
  .shdw {
    &_me {
      width: 50px;
    }

    .pokemon {
      right: auto-min(-150px);
    }
  }
}

// ここまで