// モジュールのレスポンシブ設定
$width: responsive-width(pc);

// ここから

.section {
  width: 100vw;
  height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  padding: 0 auto-min(50px);

  color: $base_clr;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;
}

.article {
  width: 100vw;
  height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  color: $base_clr;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;
}

.scrollTimeline {
  height: 143100px;
  width: 100px;

  position: absolute;
  top: 0;
  z-index: -9999;
}

.bg {
  z-index: -999;
}

.intro {

  &_ttl {
    width: auto-clamp(650px, 900px);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &_img {
    height: 100vh;
    
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.about {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &_desc {
    font-size: auto-clamp(24px, 72px);
    letter-spacing: 1.2px;

    margin-bottom: auto-min(40px);
  }

  &_ttl {
    font-weight: bold;
    font-size: auto-clamp(32px, 104px);
    letter-spacing: 1.6px;
  }
}

.serf {
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1.2px;

  &_content {

    &_en {
      display: inline-block;
      margin-right: auto-min(8px);
      margin-bottom: auto-min(24px);
      
      font-weight: bold;
      font-size: auto-clamp(20px, 48px);
    }

    &_ja {
      margin-bottom: auto-min(80px);
      margin-left: auto-min(16px);

      font-size: auto-clamp(12px, 32px);
      opacity: .9;
    }
  }
}

.keyhole {
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_content {
    display: flex;
    align-items: center;

    margin-bottom: auto-clamp(20px, 40px);

    &_serf {
      font-family: $acnt_ff;
      font-size: auto-clamp(16px, 32px);
      letter-spacing: 1.2px;

      &:not(:first-child) {
        margin-left: auto-min(15px);
      }
    }

    &_border {
      width: auto-clamp(40px, 60px);
      margin-left: 5px;
      border-bottom: auto-min(3px) solid $base_clr;
    }
  }

  &_figure {
    width: 98px;
    height: auto-clamp(53px, 90px);

    position: relative;
    z-index: 98;
    cursor: pointer;
    
    &_circle {
      background: $base_clr;
      width: auto-clamp(30px, 50px);
      height: auto-clamp(30px, 50px);

      border-radius: 50%;

      position: absolute;
      top: 0%;
      left: 50%;
      transform: translateX(-50%);
    }

    &_line {
      width: auto-clamp(30px, 50px);
      height: 0;

      border-bottom: auto-clamp(30px, 50px) solid $base_clr;
      border-left: auto-clamp(9px, 15px) solid transparent;
      border-right: auto-clamp(9px, 15px) solid transparent;

      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.history {
  z-index: 4;

  color: $main_clr;
  font-size: auto-clamp(12px, 16px);
  line-height: 2;

  &_wrap {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    padding: 0 auto-min(50px);

    display: flex;
    align-items: center;

    .tag {
      font-weight: bold;
    }
  }

  li:not(:first-child) {
    margin-top: auto-clamp(32px, 48px);
  }
}

.achievement {
  z-index: 5;

  color: $main_clr;
  font-size: auto-clamp(12px, 16px);
  line-height: 2;

  display: flex;
  align-items: center;

  &_ttl {
    font-weight: bold;
    font-size: auto-clamp(24px, 48px);

    position: absolute;
    top: auto-min(50px);
    left: auto-min(50px);
  }

  &_contents {

    .tag {
      font-weight: bold;
    }
  }

  &_content:not(:first-child) {
    margin-top: auto-clamp(32px, 48px);
  }
}

.client {
  z-index: 6;

  color: $main_clr;
  font-size: auto-clamp(12px, 16px);
  line-height: 2;

  display: flex;
  align-items: center;

  &_ttl {
    font-weight: bold;
    font-size: auto-clamp(24px, 48px);

    position: absolute;
    top: auto-min(50px);
    left: auto-min(50px);
  }

  &_contents {
    height: 50vh;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &_content {
    margin-right: auto-clamp(30px, 50px);
  }
}

.ultraman {
  z-index: 7;

  background: $acnt_clr;

  display: flex;
  justify-content: center;
  align-items: center;

  &_shdw {
    width: 30vw;
    height: auto;
    filter: drop-shadow(0 40px 20px rgba(0, 0, 0, 0.1));
  }
}

.flash {
  animation: flash 1s linear infinite;
}

.favorite {
  z-index: 8;

  font-size: auto-clamp(12px, 16px);
  line-height: 2;

  &_ttl {
    font-weight: bold;
    font-size: auto-clamp(24px, 48px);

    position: absolute;
    top: auto-min(50px);
    left: auto-min(50px);
  }

  &_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &_content {
    height: 50vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .tag {
      font-weight: bold;
    }

    li:not(:last-child) {
      padding-right: auto-min(50px);
      margin-bottom: auto-min(50px);
    }
  }

  &_bg {
    height: 100vh;
    opacity: .3;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    margin: 0 auto;
  }
}

.godzilla {
  z-index: 9;

  &_shdw {
    height: 70vh;

    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.end {
  z-index: 10;

  background: $sub_clr;

  display: flex;
  justify-content: center;
  align-items: center;

  &_img {
    width: auto-min(600px);
  }
}
// ここまで