// モジュールのレスポンシブ設定
$width: responsive-width(pc);

// ここから

.scrollMouse {
  position: fixed;
  right: 0;
  left: 0;
  bottom: auto-min(63px);

  svg {
    display: block;
    
    width: auto-min(48px);
    fill: $main_clr;

    margin: 0 auto;
  }

  circle {
    animation: scroll 1.5s ease infinite;
  }
}

// ここまで